* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#logo {
    position: relative;
    left: -47vw;
}
header {
    padding: 10px;
}
.logonome {
    position: absolute;
    margin-right: 38vw;
}
.ok.primo {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.ok.secondo {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    top: -5vw;
    left: -7vw;
}
body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
main {
    position: absolute;
    top: 14vh;
    background-color: #ffffff;
    padding: 11vw;
    padding-bottom: 0vw;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contain {
    background: #fff;
    position: absolute;
    top: 0px;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3vw 102vh;
}
.firstbut {
    position: relative;
    top: -9vw;
    left: -7vw;
    padding: 12px;
    color: white;
    background-color: deepskyblue;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.secondbut {
    position: relative;
    top: -9vw;
    left: -5vw;
    padding: 12px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
div.h1 {
    position: relative;
    top: -12vw;
    left: -12vw;
}
.editorialone {
    position: absolute;
    color: white;
    background-color: deepskyblue;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    left: 8vw;
    padding: 7px 9px;
    top: 52px;
}
.editorialtwo {
    position: absolute;
    color: white;
    background-color: deepskyblue;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    top: 18vh;
    left: 8vw;
    padding: 7px 9px;
}
.editorialthird {
    position: absolute;
    color: white;
    background-color: deepskyblue;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    left: 10vw;
    padding: 7px 9px;
    top: 54vh;
}
.qone {
    position: absolute;
    color: white;
    background-color: violet;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    top: 22vh;
    left: 16vh;
    padding: 7px 9px;
}
.recruiting {
    position: absolute;
    color: white;
    background-color: green;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    left: 15vh;
    top: 26vh;
    padding: 7px 9px;
}
.mobile {
    position: absolute;
    color: white;
    background-color: orange;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    left: 29vh;
    top: 30vh;
    padding: 7px 9px;
}
.websites {
    position: absolute;
    color: white;
    background-color: palevioletred;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    top: 46vh;
    left: 16vh;
    padding: 7px 9px;
}
.sales {
    position: absolute;
    color: white;
    background-color: yellowgreen;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    left: 29vh;
    top: 50vh;
    padding: 7px 9px;
}